.btn-bottom {
    background-color: rgba(0,0,0,0);
    border-style: none;
    color: white;
    z-index: 2;
    box-sizing: border-box;
    font-size: 1.5em;
}

.btn-bottom:hover {
    font-weight: bold;
}

.btn-bottom:focus {
    background-color: initial;
}

.btn-bottom:selected {
    background-color: rgba(0,0,0,0);
}

.content-buttons {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    padding-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .content-buttons {
        font-size: 0.675em;
    }
}

.btn:hover {
    background-color: rgba(0,0,0,0);
}

.card-title, .text-primary, a, a:visited, a:link {
    color: #005dff;
}